body {
  margin: 0; padding: 0;
  font-family: "Roboto", sans-serif;
}

.icon-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.app-bar {
  box-sizing: border-box;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 10px 14px 16px;
  background-color: #009688;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  overflow: auto;
}

.app-bar-left{
  float: left;
  overflow: auto;
}

.app-bar-left .icon-btn.burger {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}


.app-bar-left h1 {
  float: left;
  margin-left: 16px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.app-bar-right{
  float: right;
  overflow: auto;
}

.app-bar-right .icon-btn{
  margin-left: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.app-bar-right .icon-btn:first-child {
  margin-left: 0;
  opacity: 0.75;
}


.content {
  margin-top: 62px;
  padding-left: 16px;
}

h2 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #009789;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 15px;
}

h2 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #009789;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 15px;
}


















