body {
  margin: 0; padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.icon-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.app-bar {
  box-sizing: border-box;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 10px 14px 16px;
  background-color: #009688;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  overflow: auto;
}

.app-bar-left{
  float: left;
  overflow: auto;
}

.app-bar-left .icon-btn.burger {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}


.app-bar-left h1 {
  float: left;
  margin-left: 16px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.app-bar-right{
  float: right;
  overflow: auto;
}

.app-bar-right .icon-btn{
  margin-left: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.app-bar-right .icon-btn:first-child {
  margin-left: 0;
  opacity: 0.75;
}










.content {
  margin-top: 62px;
}

h2 {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #009789;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 15px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
}


.file-section {
  padding-left: 16px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.file-list-item {
  position: relative;
  box-sizing: border-box;
  height: 72px;
  padding: 16px 50px 13px 0;
}

.file-list-item p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.54);
}

.file-list-item .icon-btn {
  position: absolute;
  top: 24px;
  right: 10px;
}





.user-section {
  padding-left: 16px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.user-list-item {
  position: relative;
  box-sizing: border-box;
  height: 56px;
  padding: 8px 50px 8px 0;
  overflow: auto;
}

.user-list-item__left {
  float: left;
}

.user-list-item__left-img {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-list-item h3 {
  margin-left: 56px;
  line-height: 40px;
}

.user-list-item .icon-btn {
  position: absolute;
  top: 16px;
  right: 10px;
}

.note-section {
  padding-left: 16px;
  padding-right: 10px;
  padding-bottom: 15px;
}







